.div1 {
  position: fixed;
   z-index: 1000;
  background-color: white;
  box-shadow: 0px 3px 5px #8fd2d9;
  margin-left: -9px;
  margin-right: 9px;
  margin-top: -30px;
}

.div2 {
  margin-top: 50px;
  margin-left: 600px;
  margin-right:400px;
}

div ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: -10px;
}

div img {
  width: 80px;
  margin-left: 170px;
  margin-top: -50px;
  margin-bottom: 5px;
}

div h1 {
  display: flex;
  gap: 20px;
  margin-left: 790px;
  margin-top: -20px;
  margin-bottom: 1px; 
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding-top: 160px;
  background: #fff;
}
.text{
  width: 45%;
  padding-left: 50px ;
}
.text h1{
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}
.text h2{
  font-size: 45px ;
  color: #0097A7;
  margin-top: 5px;
}
.text p{
  line-height: 1.6;
  margin: 20px 0;
  color: #333;
}
.btn{
  background: #0097A7;
  color: #fff;
  padding: 12px 25px;
  border: none;
  font-size: 18px;
  cursor: pointer; 
}
.image-box img{
  width: 700px;
  border-radius: 10px;
  padding-right: 50px;
  box-shadow: 0px 5px rgba(0, 0, 0 , 0.3);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #ffffff;
}
  .navbar {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 2px solid #e5e5e5;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.icons span {
    margin-left: 15px;
    cursor: pointer;
}
.features {
    display: flex;
    justify-content: space-around;
    padding: 30px 1px;
    background: white;
    border-bottom: 2px solid white;
}

.feature-box {
    background: white;
   margin-top: 100px;
    padding: 22px;
    width: 330px;             
    text-align: center;
    border: 1px solid white;
   box-shadow: 1px 1px 5px 1px #0097A7;
}
.feature-box .icon {
    width: auto;
    height: auto;
    background: none;   
    border-radius: 0;   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px auto;
    background-color: whit;
}

.feature-box .icon i {
    font-size: 30px;
    color: #22c1c3; 
}
.about {
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;
    align-items: center;
}

.about-img img {
    width: 620px;
    max-width: 100%;
    margin-left: 50px;
}

.about-text {
    width: 50%;
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
.about-text p {
    line-height: 1.7;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 20px;
    background: #22c1c3;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
