.div1 {
  box-shadow: 0px 5px 5px lightblue;
  margin-left: -9px;
  margin-right: -9px;
  margin-top: -40px;
}

.div2 {
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
}

div ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: -10px;
}

div img {
  width: 80px;
  margin-left: 170px;
  margin-top: -50px;
  margin-bottom: 5px;
}

div h1 {
  display: flex;
  gap: 20px;
  margin-left: 830px;
  margin-top: -20px;
  margin-bottom: 1px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background: #fff;
}
.text{
  width: 45%;
}
.text h1{
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}
.text h2{
  font-size: 45px ;
  color: #0097A7;
  margin-top: 5px;
}
.text p{
  line-height: 1.6;
  margin: 20px 0;
  color: #333;
}
.btn{
  background: #0097A7;
  color: #fff;
  padding: 12px 25px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}
.image-box img{
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 5px rgba(0, 0, 0 , 0.3);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #ffffff;
}
  .navbar {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 2px solid #e5e5e5;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.icons span {
    margin-left: 15px;
    cursor: pointer;
}
.features {
    display: flex;
    justify-content: space-around;
    padding: 25px 10px;
    background: #f8ffff;
    border-bottom: 2px solid #e5e5e5;
}

.feature-box {
    background: white;
    padding: 25px;
    width: 260px;             
    text-align: center;
    border: 1px solid #c8e6e6;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(34, 193, 195, 0.25);
}
.feature-box .icon {
    width: auto;
    height: auto;
    background: none;   
    border-radius: 0;   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px auto;
}

.feature-box .icon i {
    font-size: 30px;
    color: #22c1c3; 
}
.about {
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;
    align-items: center;
}

.about-img img {
    width: 520px;
    max-width: 100%;
}

.about-text {
    width: 50%;
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
