.div1 {
  box-shadow: 0px 5px 5px lightblue;
  margin-left: -9px;
  margin-right: -9px;
  margin-top: -40px;
}

.div2 {
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
}

div ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: -10px;
}

div img {
  width: 80px;
  margin-left: 170px;
  margin-top: -50px;
  margin-bottom: 5px;
}

div h1 {
  display: flex;
  gap: 20px;
  margin-left: 830px;
  margin-top: -20px;
  margin-bottom: 1px;
}
.div1 {
  box-shadow: 0px 5px 5px lightblue;
  margin-left: -9px;
  margin-right: -9px;
  margin-top: -40px;
}

.div2 {
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
}

div ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: -10px;
}

div img {
  width: 80px;
  margin-left: 170px;
  margin-top: -50px;
  margin-bottom: 5px;
}

div h1 {
  display: flex;
  gap: 20px;
  margin-left: 830px;
  margin-top: -20px;
  margin-bottom: 1px;
}

