.div1 {
  box-shadow: 0px 5px 5px lightblue;
  margin-left: -9px;
  margin-right: -9px;
  margin-top: -40px;
}

.div2 {
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
}

div ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: -10px;
}

div img {
  width: 80px;
  margin-left: 170px;
  margin-top: -50px;
  margin-bottom: 5px;
}

div h1 {
  display: flex;
  gap: 20px;
  margin-left: 830px;
  margin-top: -20px;
  margin-bottom: 1px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background: #fff;
}
.text{
  width: 45%;
}
.text h1{
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}
.text h2{
  font-size: 45px ;
  color: #0097A7;
  margin-top: 5px;
}
.text p{
  line-height: 1.6;
  margin: 20px 0;
  color: #333;
}
